[Unit]
Description=Pintrail Application Stack
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/home/richards/pintrail/pintrail
RemainAfterExit=yes
ExecStart=/usr/bin/docker compose -f compose.prod.yml up -d --build
ExecStop=/usr/bin/docker compose -f compose.prod.yml down
ExecReload=/usr/bin/docker compose -f compose.prod.yml up -d --build
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
